.folder {
    background-color: white;
    height: 14rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #eee; 

    // folder name
    &__name {
        // hide the part of content that exceeds the size
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        color: $blueprint-blue;
        font-size: 1.2rem;
    }

    &__options {
        margin-top: auto;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

.folderImage {
    position: relative;
    top: 15px;
    padding-bottom: 2rem;
    border-bottom: solid 2px black;
}

.folderImage:hover {
    top: 5px;
    padding-bottom: 2.65rem;
}

// the div that has the folder name and the link
.folder1 {
    max-width: 55%;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

//the div that has the menu button
.folderMenu {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.defaultFolderRow {
    margin-top: 1rem;
    margin-bottom: 1rem;
}