.folder {
    background-color: white;
    height: 14rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    border: 2px solid #eee; 

    // will be 1 on hover
    opacity: 0.8;

    // folder name
    &__name {
        // hide the part of content that exceeds the size
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        max-width: 100%;
        max-height: 100%;
        color: white;
        font-size: 1.2rem;
    }

    // do we want to show the name on hover in case the name is too long to
    // fit in the div? we are using white color for text so if the background
    // is white then the user can't see the name of the folder

    // display the hidden name on hover
    &__name {
        overflow: visible;
        color: $blueprint-blue;
    }

    &__options {
        margin-top: auto;
        position: absolute;
        bottom: 0px;
        width: 100%;
    }
}

// change opacity on hover
.folder:hover {
    opacity: 1;
}

.folderImage {
    position: relative;
    top: 15px;
    padding-bottom: 1rem;
    border-bottom: solid 2px black;
}

// the div that has the folder name and the link
.folder1 {
    max-height: 50%;
    max-width: 70%;
    position: absolute;
    bottom: 0px;
    left: 30px;
}

//the div that has the menu button
.folderMenu {
    position: absolute;
    bottom: 15px;
    right: 20px;
}
