.gallery {
  &__template {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__template:hover &__templatename {
    visibility: visible;
  }

  &__templatename {
    visibility: hidden;
    width: auto;
    background-color: white;
    color: $blueprint-blue;
    text-align: center;
    border-radius: 6px;
    padding: 3px 10px;

    //border
    border-style: solid;
    border-width: 2px;
    border-color: $blueprint-blue;;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: -30px;
    left: 10px;
  }
}


