.main_nav {
    background: $blueprint-blue;
    padding: 0.5rem 3rem;

    &__logo {
        height: 60px;
        width: 200px;
    }
}

.login_img {
    height: 100%;
    width: 105%;
    margin: -5px; // to remove space between the image and the actual button

    // for highlighting on hover (from 1 to 0.8)
    opacity: 1;
}

// login btn will change opacity on hover
.login_btn:hover {
    opacity: 0.8;
}

// to remove unnecessary space of the button
.login_btn {
    padding: 0;
    box-shadow: 0px 5px 5px;
}

// login button is moved down slightly on hover
.login_btn:hover {
    margin-top: 2px;
    box-shadow: 0px 4px 5px;
}

.gg_login {
    height: 40px;
    width: 180px;
}