.tabs {
    background: black;

    &__tab {

        $active-focus: white;

        color: $blueprint-blue;
        padding: 0.5rem 0.7rem;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border-bottom-width: 0;
        box-shadow: 1px 1px 1px white;

        &-active {
            color: $active-focus;
            background: rgb(30, 30, 30);
            border-color: $active-focus;
            border: solid 1px white;
            box-shadow: 1px 5px 5px $active-focus;
        }
    }
}

.transparent {
  background-color: inherit;
}
