.template {
    width: 100%;
    min-height: 14rem;
    display: block;
    border-radius: 1rem;
    background: white;

    position: relative;
    &__options {
        margin-top: auto;
        position: absolute;
        bottom: 1.25rem;
        right: 0.75rem;
        width: 100%;
    }

    &__name {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 1.1rem;
        max-height: 100%;
        bottom: -1.75rem;
        left: 1rem;
    }

    &__frame {
        border: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        pointer-events: none;
    }

    &__frame__popup {
        border: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__blur {
        pointer-events: none;
        filter: blur(0.1rem);
    }
}