.template {
    width: 100%;
    min-height: 14rem;
    display: block;
    border-radius: 1rem;
    background: white;

    position: relative;
    &__options {
        margin-top: auto;
        position: absolute;
        bottom: 1.25rem;
        right: 0.75rem;
        width: 100%;
    }

    &__name {
        font-size: 1.1rem;
        bottom: -1.75rem;
        left: 1rem;
    }

    &__frame {
        //pointer-events: none;
        border: none;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
}