.home {
  width: 100%;
  height: 100%;

  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient($blueprint-blue, rgb(170, 170, 170));

  &__sort {
    font-size: 2rem;
  }

  &__upload {
    $offset: 6rem;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    position: fixed;
    right: 3rem;
    bottom: 3rem;
    
  }

  &__upload__font {
    font-size: 1.5rem;
  }

  &__name {
    color: white;
  }

  .box {
    background: grey;
    color: white;

    &__add {
      font-size: 2rem;
      padding: 2rem;
    }
  }

  &__divider {
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: solid 2px black;
  }
}
