.main {
	min-height: 87vh;
	background-color: $blueprint-blue;
	overflow-y: hidden;

	&__description {
		color: white;

		&-text {
			font-size: 1.2rem;
		}
	}
	&__heading {
		padding: 10px;
	}

	&__header {
		font-size: 4rem;
	}
}