.template-page {
    &__nav {
        background: $blueprint-blue;
     }

     .button {
        color: #444444;
        background: #F3F3F3;
        border: 1px #DADADA solid;
        padding: 5px 10px;
        margin-left: 1rem;
        margin-right: 1rem;
        border-radius: 2px;
        font-weight: bold;
        font-size: 9pt;
        outline: none;
      }
      
    .title {
        font-weight: bold;
        border-radius: 2px;
        margin-right:0px;
        width: 25%;
        outline: none;
    }
}