@import '~bootstrap/scss/bootstrap.scss';
@import 'variables';
@import 'pages/all';
@import 'components/all';

html, body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}

.option-popup {
    z-index: 1000 !important;
    width: 100px !important;
}